# Konfigurasi Edge WebDriver
EDGE_DRIVER_PATH=./driver/msedgedriver.exe

# Default User Data Directory Edge
USER_DATA_DIR=USER_DATA_DIR=C:\\Users\\{Username}\\AppData\\Local\\Microsoft\\Edge\\User Data\\Default

# Profile Directory (biasanya Default)
PROFILE_DIR=Default

# Interval refresh dalam detik
REFRESH_INTERVAL=7