EDGE_DRIVER_PATH=./driver/stable/*
SEARCH_URL=https://www.bing.com
ORIGINAL_USER_DATA_DIR=C:\Users\username\AppData\Local\Microsoft\Edge\User Data
SELENIUM_USER_DATA_DIR=D:\SeleniumProfiles\EdgeUserData
PROFILES=Profile 1
SEARCHES_PER_PROFILE=30